extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer not working
          p “Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis.
          a.btn.btn-primary(type='submit', href='#') Learn More
        .col-md-5
          img.mouse-img(src='images/mouse.jpg')

  .container
    .row
      .col-md-4
        .well
          h4  Hardware Problems?
          p “Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.

      .col-md-4
        .well
          h4  Software Problems?
          p “Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.

      .col-md-4
        .well
          h4  PC Tune Up
          p “Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
